body {
    height: 500px;
    background-color: aliceblue;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Arial", "Times New Roman", serif;
    padding: 50px;
}

h1, h3 {
    margin: 0;
}

button {
   position: relative;
   background-color: green;
   top: 1000px; 
}

#dateANDTime {
    background-color: orange;
    font-size: 28px;

}
